body {
  background-color: #0b1d37;
  margin:auto;
  font-family: 'Roboto Mono', monospace;
  color:white;
}

header{
  background-color: black;
  margin-top: 0px;
  padding: 0.5px;
  color:white ;
}
nav,ul, li{
  margin:10px;
  font-size: 20px;  
}

.nav-link{
  color:white
}

#imagen img{
  width: 80%;
 
}
.contenido{
  text-align: center;
  display: flex;
  margin: auto;
}
section{
  display: inline-block;
  margin:30px 5px 0px 5px;
}

#descripcion{
  width: 40%;
  margin-left: 70px;
}

a .fa-brands{
  color: white;
}

#consola{
  width: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.imagen-container {
  position: relative;
  display: inline-block;
}

.texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  padding: 20px;
  font-size: 2rem;
  text-align: left;
}

.nombre{
  overflow: hidden; /* Oculta el contenido del elemento */
  border-right: 3px solid orange; /* Crea el efecto de línea de escritura */
  white-space: nowrap;
  margin: 0; /* Elimina el margen por defecto */
  letter-spacing: 0.15em; /* Ajusta el espacio entre letras */
  animation: typing 3s steps(30), cursor .75s step-end infinite alternate; /* Crea la animación */
}
/* Define la animación de escritura */
@keyframes typing {
  from {
    width: 0
  }
}

/* Define la animación del cursor que parpadea */
@keyframes cursor{
  50% {
    border-color:transparent;
  }
}

hr{
  margin: 5%;
  size:10;
}