body {
  background-color: #0b1d37;
  margin:auto;
  font-family: 'Roboto Mono', monospace;
  color:white;
}

header{
  background-color: black;
  margin-top: 0px;
  padding: 0.5px;
  color:white ;
}
nav,ul, li{
  margin:10px;
  font-size: 20px;  
}

.nav-link:hover{
  color:#D99F09;
  box-shadow: #feffff;
}

.nav-link{
  color:white
}


.contenido{
  text-align: center;
  margin: auto;
}


#descripcion{
  width: 40%;
  margin-left: 70px;
}

a i:hover{
  color: #D99F09;
  box-shadow:  0 0 50px 25px #0db2f3;
}

a .fa-brands{
  color: white;
  margin-left: 20px;
}

#consola{
  width: 500px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#consola:hover{
  box-shadow:  0 0 50px 25px #0db2f3;
}

.imagen-container {
  position: relative;
  display: inline-block;
}

h3{
  text-align: left;
}

.texto{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.texto p{
  width: 25ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

@keyframes cursor {
	0%, 100% { 
    border-color: white; 
  }
}

@keyframes text {
	0% { 
    width: 0; 
  }
	100% { 
    width: 25ch; 
  }
}

ul{
  text-align: left;
  list-style: none;
  
}

hr{
  margin: 50px;
}



.card{
  width: 50px;
  margin: 2px;
}

#card-container{
  background-color: #7B620A;
  padding: 15px;
  border-radius: 20px;
  
}
#card-container:hover{
  box-shadow:  0 0 50px 25px #0db2f3;
}
h3:hover {
  animation: 1s chicle 1;
}

/* Creamos la animación (con keyframes) */

@keyframes chicle {
  30% {
    transform: scaleX(1.2) scaleY(0.7);
  }
  40% {
    transform: scaleX(0.7) scaleY(1.2);
  }
   60% { 
    transform: scaleX(1.1) scaleY(0.8); 
  }
  
}


input, textarea{
  background-color: beige;
  width: 50%;
  border-radius: 10px;
  margin: 20px;
  display: inline-flexbox;
}

#form-contact{
  border-radius: 20px;
  border-color: beige;
  margin: 20px;
  
}

#form-contact:hover{
  box-shadow:  0 0 50px 25px #0db2f3;
}